@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap');

body {
  font-family: 'Urbanist', sans-serif;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #e8e8e820;
}

/* Search component */
.search-box-container {
  padding: 4% 2% 4% 2%;
  justify-content: center;
  display: flex;
  background-color: rgb(255, 255, 255);
}

.trending-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cccccc8d;
  border-radius: 30px;
  padding: 12px 30px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-box {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: 'Urbanist', sans-serif;
}

.explore-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 22px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
  font-family: 'Urbanist', sans-serif;
}

.explore-btn:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.explore-btn:hover {
  background-color: #0056b3;
}

/* Result container */
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4%;
}


.column-left {
  width: 74%;
}

.column-right {
  width: 24%;
}

@media (max-width: 1300px) {
  .column-left .search-hint-container {
    width: 100%;
    margin-bottom: 15px;
  }
}

@media (max-width: 500px) {
  .column-right {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* word component */
.search-result-container{
  padding: 15px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(148, 148, 148, 0.1);
  box-sizing: border-box;
  background-color: white;
}

/* Trending  */
.trending-container {
  padding: 15px;
  border-radius: 10px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(148, 148, 148, 0.1);
  box-sizing: border-box;
  background-color: white;
}

/* Word style */
.word-title {
  font-size: 18px;
  font-weight: bold;
}

.word-separator {
  border-top: 1px dashed #7a7a7a;
}

/* Trending style */
.trending-hint{
  color: #8d8d8d;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 12px;
}

th {
  font-weight: bold;
  background-color: #c9e3ff6d;
  border-bottom: 1px solid #ddd;
}

td {
  background-color: #ededed25;
  /* border-bottom: 1px solid #ddd; */
}

tr:nth-child(even) td {
  background-color: #ffffff00;
}

h1 {
  color: #007bff;
}

.footer-container {
  padding: 2% 4% 2% 4%;
  background-color: #007bff;
  color: white;
  display: flex;
}

.footer-left {
  width: 48%;
  font-size: 14px;
  font-weight: 500;
}

.footer-right {
  width: 48%;
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48;
  text-align: end;
  align-self: center;
}

.footer-right>a>span {
  font-size: 32px;
  padding: 0px 8px 0px 8px;
  color: #ffffff;
}

/* Icon */
a.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* Hint */
.hint-container {
  display:flex;
  justify-content: center; 
  align-items: center;     
  height: 50vh;         
  color: #8a8a8a5d;
}

.hint-text{
  font-size: 48px;
  font-weight: 600;
}
.hint-container>a {
  font-size: 96px;
  padding: 0px 8px 0px 8px;
  color: #8a8a8a;
  text-align: center;
}